.guilds-1SWlCJ {
  top: 25px !important;
}
.splashBackground-1FRCko .logo-1-AbdC {
  margin-top: 20px !important;
}
.blobContainer-239gwq {
  margin-left: 2.5px !important;
}
.listItemWrapper-3X98Pc {
  margin-left: 2.5px !important;
}
header {
  margin-top: 2.5px !important;
}
.wrapper-6URcxg,
.notice-3bPHh-,
.themed-ANHk51,
header {
  -webkit-app-region: drag !important;
}
